@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fuggles&family=Inclusive+Sans&family=Josefin+Sans&display=swap');

.Business {
    border: double;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 1em;
}

.imageSection {
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    font-style: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: maroon;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

a, a:visited {
    color: maroon;
    text-decoration: none;
}

/* a:hover,
a:focus {
    color: coral;
} */

.address {
    font-style: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-top: 0.5em;
    margin-bottom: 0;
    color: black;
}