@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fuggles&family=Inclusive+Sans&family=Josefin+Sans&display=swap');

.Business {
    border: double;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 1em;
}

.Business a, .Business a:visited {
    color: maroon;
    text-decoration: none;
}

.Business a:hover,
.Business a:focus {
    color: coral;
}

.imageSection {
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: maroon;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.address {
    font-style: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-top: 1em;
    margin-bottom: 0;
    color: black;
}

.accent {
    font-weight: bold;
    color: maroon;
}