.background {
  background-image: url("../../public/FoodPicture.png");
  opacity: .40;
  height: 25.05rem;
  width: 93%;
  margin: 0 auto;
  background-repeat: repeat;
}

.about {
    color: white;
    font-weight: bold;
    text-align: center;
}