html {
  background: maroon;
}

.App {
  text-align: center;
}

.background {
  background-image: url("../public/FoodPicture.png");
  height: 25.05rem;
  width: 93%;
  margin: 0 auto;
  background-repeat: repeat;
}
